<%- include('../partials/header') %>
<div class="top-gap"></div>
<div id="map"></div>
<script>
var map = L.map('map').fitBounds([[<%= bounds.north %>, <%= bounds.east %>], [<%= bounds.south %>, <%= bounds.west %>]]);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1Ijoic2R1cHJlZSIsImEiOiJja3hpNXoyNGw0dWUxMnBtdTQ5ZjI4MmZsIn0.19iQPPtrr4jFeqmOLEJ1BA'
}).addTo(map);
<% for(house of houses) { %>
L.marker([<%= house.latLon %>]).addTo(map).bindPopup('<a href="/houses/<%= house._id %>"><img class="map-thumb-img" src="<%= house.featuredPicture %>"><br><%= house.name %></a><br><b>Year Built:</b> <%= house.constructionYear %>');
<% } %>
</script>
<%- include('../partials/footer') %>
