<%- include('../partials/header') %>
<p><a href="/houses/<%= house._id %>"><button class="btn btn-primary">Back to House</button></a></p>
<house-edit-primary>
  <form action="/houses/<%= house._id %>?_m=PUT" method="post">
    <p><label>Name: </label><input type="text" name="name" value="<%= house.name %>"></p>
    <p><label>Location: </label><input type="text" name="location" value="<%= house.location %>"></p>
    <p><label>Latitude/Longitude: </label><input type="text" name="latLon" value="<%= house.latLon %>"></p>
    <p><label>Construction Year: </label><input type="number" name="constructionYear" min="1750" max="1900" value="<%= house.constructionYear %>"></p>
    <p><label>Architectural Style: </label>
    <select name="archStyle">
      <% for(const style of ['Federal', 'Colonial', 'Other']) { %>
        <option value="<%= style %>"<% style === house.archStyle ? ' selected' : '' %>><%= style %></option>
      <% } %>
    </select></p>
    <p><label>Description: </label><textarea name="description" rows="4" cols="60"><%= house.description %></textarea></p>
    <button type="submit" class="btn btn-primary">Update House</button>
    <input type="hidden" name="featuredPicture" value="<%= house.featuredPicture %>">
  </form>
</house-edit-primary>
<house-edit-images>
  <p><table class="table"><thead><tr><th>Feature?</th><th>Thumbnail</th><th>URL</th><th>Delete?</th></tr></thead>
    <tbody>
      <% for(const picture of house.pictures) { %>
        <tr>
          <td>
            <% if(house.featuredPicture === picture.URI) { %>
              <button class="btn btn-secondary" disabled>Featured</button>
            <% } else { %>
              <form action="/pictures/<%= picture._id %>/feature" method="post"><button type="submit" class="btn btn-primary">Feature</button></form>
            <% } %>
          </td>
          <td>
            <img src="<%= picture.URI %>" class="thumb-img">
          </td>
          <td>
            <a href="<%= picture.URI %>"><%= picture.URI %></a>
          </td>
          <td>
            <% if(house.featuredPicture === picture.URI) { %>
              <button class="btn btn-secondary" disabled>x</button>
            <% } else { %>
              <form action="/pictures/<%= picture._id %>?_m=DELETE" method="post"><button type="submit" class="btn btn-danger">X</button></form>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table></p>
</house-edit-images>
<house-edit-delete>
  <p><form action="/houses/<%= house._id %>?_m=DELETE" method="post">
    <button type="submit" class="btn btn-danger">Delete House</button>
  </form></p>
</house-edit-delete>
<%- include('../partials/footer') %>
