<%- include('../partials/header') %>
<house-nav>
  <div class="nav-icon" id="nav-house-left"></div>
  <span id="house-name"><%= house.name %></span>
  <div class="nav-icon" id="nav-house-right"></div>
</house-nav>
<house-img>
  <div class="nav-icon" id="nav-img-left"></div>
  <img src="<%= house.featuredPicture %>" width="800" height="600" id="house-main-img">
  <div class="nav-icon" id="nav-img-right"></div>
</house-img>
<house-details>
  <table>
    <tr><td class="table-key">Location:</td><td><%= house.location %></td><td class="table-key">Latitude/Longitude:</td><td><%= house.latLon %></td></tr>
    <tr><td class="table-key">Construction Year:</td><td><%= house.constructionYear %></td><td class="table-key">Architectural Style:</td><td><%= house.archStyle %></td></tr>
  </table>
  <p><%= house.description %></p>
</house-details>
<house-comments>
</house-comments>
<% if(user) { %>
<house-admin>
  <form action="/houses/<%= house._id %>/pictures" method="post">
    <label for="URI">Add new picture:</label><br>
    <input type="text" size="50" id="URI" name="URI" placeholder="Enter URL...">
    <button type="submit" class="btn btn-primary">Add New Picture</button>
  </form>
  <br>
  <% if(user.equals(house.user)) { %>
  <a href="/houses/<%= house._id %>/edit" class="btn btn-primary">Edit/Delete This House</a>
  <% } %>
</house-admin>
<% } %>
<%- include('../partials/footer') %>
